<!DOCTYPE html>
<html>
  <head>
    <title>Swagger</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon_href %}
    <link rel="icon" type="image/png" href="{{favicon_href}}"/>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{dist}}/swagger-ui.css" />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="{{dist}}/swagger-ui-bundle.js"></script>
    <script>
    const swagger_settings  = {{ settings|safe }}

    const ui = SwaggerUIBundle({
      url: "{{ schema_url }}",
      dom_id: '#swagger-ui',
      presets: [
        SwaggerUIBundle.presets.apis,
      ],
      plugin: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "BaseLayout",
      requestInterceptor: (request) => {
        request.headers['X-CSRFToken'] = "{{ csrf_token }}"
        return request;
      },
      ...swagger_settings
    })
    </script>
  </body>
</html>
