include *.rst
include LICENSE
include drf_spectacular/py.typed
include drf_spectacular/validation/*.json
include drf_spectacular/templates/drf_spectacular/*.html
include drf_spectacular/templates/drf_spectacular/*.js
include runtests.py
graft tests
recursive-exclude tests *_out.yml
graft requirements
graft docs
prune docs/_build
prune docs/_static
global-exclude __pycache__
global-exclude *.py[co]
